on boot
    chown system system /dev/nanodev0
    chmod 0664 /dev/nanodev0
    chown system system /sys/class/nanodev/nanodev0/_version176x
    chmod 0664 /sys/class/nanodev/nanodev0/_version176x
    chown system system /sys/class/nanodev/nanodev0/_version803x
    chmod 0664 /sys/class/nanodev/nanodev0/_version803x

service nanoapp_aidl  /odm/bin/hw/vendor.xiaomi.hardware.keyboardnanoapp_aidl-service
    class late_start
    user system
    group system
    seclabel u:r:nanoapp_aidl:s0
    onrestart restart nanoapp_aidl